@font-face {
    font-family: 'Klavika';
    src: url('Klavika_Bold.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Klavika';
}

body {
  background: #222;
}

/* MENU */

header
{
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  z-index: 100000;
  transition: 0.6s;

  border-bottom: solid 2px #F03C3C;
}

header .logo
{
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 0.6s
}

header .logo img{
  width: 45%;
  height: auto;
  max-width: 400px;
  min-width: 200px;
}

header ul{
  position: relative;
  display: flex;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position: relative;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

header ul li a:hover
{
  background: #F03C3C;
}

header ul .social{
  position: relative;
  list-style: none;
  text-decoration: none;

  margin-left: 25px;
  
  display: flex;
  flex-direction: row;
}

header ul .social li{
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

header ul .social li a:hover{
  color: #F03C3C;
  background: none;
}

.toggle
{
  display: none;
}

@media (max-width: 992px)
{

  header
  {
    padding: 0px 100px;
  }

  header ul
  {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 50px 100px;
    text-align: center;
    overflow: auto;
    transition: 0.5s;
    background: #000;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-100%);
  }

  header.active ul
  {
    opacity: 1;
    top: 80px;
    transform: translateY(0);
  }

  header ul li a
  {
    margin: 5px 0;
    font-size: 24px;
  }

  .toggle
  {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: -75px;
  }
  .toggle:before
  {
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }
  .toggle:after
  {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }

  header.active .toggle:before
  {
    top: 14px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }

  header.active .toggle:after
  {
    bottom: 14px;
    transform: rotate(-45deg);
  }

  header.active ul .social
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  header .logo img
  {
    margin-left: -75px;
  }
}

/* FIN DU MENU */





#page {
  min-height: 100vh;
  display:flex; /* 2 */
  flex-direction:column; /* 3 */
}

#content {
  flex-grow:1; /* 4 */
}

section{
  padding-top: 90px;
}

.full-height {
  height: 90vh;
}

hr{
  margin: 0;
  padding: 0;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5vh;
  width: 100%;
  background: #000000;

  border-top: solid 2px #F03C3C;
}

footer h1{
  color:  #f2f2f2;
  font-size: 16px;
}

